<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[GitWizardUI]GitWizardUI.Views.*,[GitWizardUI]GitWizardUI.Services.AvaloniaUiDispatcher,[GitWizardUI]GitWizardUI.Services.AvaloniaUserDialogs,[GitWizardUI]GitWizardUI.Services.AvaloniaFolderPicker,[GitWizardUI]GitWizardUI.Services.IconLoader,[GitWizardUI]GitWizardUI.Program,[GitWizard]GitWizard.WindowsDefender</Exclude>
          <ExcludeByFile>**/Program.Watch.cs,**/WindowsDefender.cs,**/MainWindow.axaml.cs,**/SettingsWindow.axaml.cs</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
